<div class="page-container-bg-solid">
        <app-home></app-home>
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1> </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                       
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet light portlet-fit ">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class=" icon-layers font-green"></i>
                                                <span class="caption-subject font-green bold uppercase">Products</span>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="mt-element-card mt-element-overlay">
                                                <div class="row">
                                                    
                                                    
                                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let p of products;">
                                                        <div class="mt-card-item">
                                                            <div class="mt-card-avatar mt-overlay-1 mt-scroll-up">
                                                                <img src="{{ p.image }}" style="height:250px;">
                                                                <div class="mt-overlay">
                                                                    <ul class="mt-info">
                                                                        <li>
                                                                            <a class="btn default btn-outline" href="javascript:;" (click)="addtocart(p.id)">
                                                                                Add To Cart
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <!-- <a class="btn default btn-outline" href="javascript:;">
                                                                                <i class="icon-link"></i>
                                                                            </a> -->
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="mt-card-content">
                                                                <h3 class="mt-card-name">{{ p.name }}</h3>
                                                                <p class="mt-card-desc font-grey-mint">${{ p.price }}</p>
                                                                <!-- <div class="mt-card-social">
                                                                    <ul>
                                                                        <li>
                                                                            <a href="javascript:;">
                                                                                <i class="icon-social-facebook"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="javascript:;">
                                                                                <i class="icon-social-twitter"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="javascript:;">
                                                                                <i class="icon-social-dribbble"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
           
           
        </div>
        <!-- END CONTAINER -->
        
       
 </div>
